@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root{
  --teal: #008080;
  --dark-teal: #123d3d;
  --light-grey: #e1e8e8;
  --grey: #d0d6d6;
  --dark-grey:#3c4040;
  --white: #ffffff;
}  

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

html,
body,
#root {
  background-color: var(--light-grey);
  font-family: "Roboto", sans-serif;
}

input,
textarea,
button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--teal);  
  border-radius: 10px;
}